**/.vs/*
**/_Build/*
**/_Intermediate/*
**/*.exe
**/*.lib
**/*.pdb
**/*.aps
**/vc-fileutils.settings
**/*.vcxproj.user
**/SourceArt/*
**/Redist/*
**/GameAssets.cooked*
**/*.report
Debug*.log
Settings.ini
