[submodule "Core/Core/Game/Logger"]
	path = Core/Core/Game/Logger
	url = https://github.com/karnkaul/LELogger.git
[submodule "Core/Core/Game/Asserts"]
	path = Core/Core/Game/Asserts
	url = https://github.com/karnkaul/LEAsserts.git
[submodule "Core/Core/Game/GameTypes"]
	path = Core/Core/Game/GameTypes
	url = https://github.com/karnkaul/LEGameTypes.git
[submodule "Core/Core/Game/Delegate"]
	path = Core/Core/Game/Delegate
	url = https://github.com/karnkaul/LEDelegate.git
