# Directories
**/__pycache__/*
**/SourceArt/*
_Build/*
Project*/*
Runtime/Frameworks/*
Runtime/Lib/*
Runtime/Redist/*
Runtime/Resources/*
Source/ThirdParty/SFML/*

# IDE/OS files
**/.vs/*
**/*.aps
**/vc-fileutils.settings
**/*.vcxproj.user
**/CMakeSettings.json
**/.DS_Store

# Runtime files
!Runtime
Runtime/*
!Runtime/Resources
!Runtime/Utils
!Runtime/.game.conf
!Runtime/InputMap.txt
!Runtime/Settings.txt
*.exe
*.lx*
*.mx

# Custom files
*.pyc
Runtime/*.exe
Runtime/*.lx
Runtime/*.lxa
Runtime/*.app
